<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Rain Blog</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"rel="styleshee\t">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <div>
            <header>
                <div class="nav-left">
                    <h1><a href="{% url 'home' %}">Rain Blog</a></h1>
                </div>
                {% if user.is_authenticated %}
                    <div class="nav-right">
                        <a href="{% url 'post_new' %}">Add New Blog Post</a>
                        <div>
                            <p>Hi {{ user.username }}!</p>
                            <p><a href="{% url 'logout' %}">Log out</a></p>
                        </div>
                    </div>
                {% else %}
                    <div class="nav-right">
                        <p>You are not logged in. </p>
                        <div>
                            <br>
                            <p><a href="{% url 'login' %}">Log In</a></p>
                            <p><a href="{% url 'signup' %}">Sign Up</a></p>
                        </div>
                    </div>
                {% endif %}
            </header>
            <div class="nav-right">
                
            </div>
        {% block content %}
        {% endblock content %}
        </div>
    </body>
</html>